RewriteEngine On

# See
# http://httpd.apache.org/docs/2.0/mod/mod_rewrite.html#rewritebase
# This assumes that you are running this web app with its own
# hostname.
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
